/*********************************/
/* PROJECT SECTION */
/*********************************/

.section-project {
	padding: 17.6rem 0 9.6rem;
}

.dark {
	h2 {
		color: #fff;
	}
}

.projects {
	padding: 0 4.8rem;
	margin: 0 auto;
	max-width: 100rem;
}

.search {
	max-width: 60rem;
	margin: 0 auto;
	margin-bottom: 2.4rem;

	& input {
		font-size: 1.6rem;
		padding: 1rem;
		width: 100%;
		border-radius: 150px;
		margin-bottom: 2rem;
		border: 3px solid #aaa;

		&::placeholder {
			color: #ccc;
		}
	}
}
