.timeline {
	&__container {
		padding: 9.6rem 0rem;
		margin: 0 auto;
		font-size: 2rem;

		& p {
			font-size: 1.6rem;
		}

		& h3,
		& h4,
		& p {
			color: #fff;
			margin-bottom: 1.2rem;
			line-height: 1.6;
			letter-spacing: 1.6px;
		}
	}
}
