/*********************************/
/* HEADER SECTION */
/*********************************/
.header .header__nav .header__nav--active {
	color: #3b5bdb;
}

.header .header__nav .header__nav--active.nav--cta {
	background-color: transparent;
	box-shadow: inset 0 0 0 3px #3b5bdb;
	color: #3b5bdb;
}

.header {
	height: 8rem;
	padding: 0 12.8rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #fff;
	z-index: 3;
	box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);

	&__logo {
		font-size: 3rem;
		font-family: 'Shadows Into Light', cursive;
		color: inherit;
		text-decoration: none;
	}

	&__nav {
		&--list {
			list-style: none;
			display: flex;
		}

		&--item {
			margin-right: 2.4rem;

			&:last-child {
				margin-right: 0;
			}
		}

		&--link {
			&:link,
			&:visited {
				text-decoration: none;
				color: #333;
				font-size: 2rem;
				transition: all 0.3s;
				font-weight: 600;
			}

			&:hover,
			&:active {
				color: #3b5bdb;
			}

			&.nav--cta {
				&:link,
				&:visited {
					background-color: #3b5bdb;
					color: #fff;
					padding: 1.2rem 2.4rem;
					border-radius: 150px;
				}

				&:hover,
				&:active {
					background-color: transparent;
					box-shadow: inset 0 0 0 3px #3b5bdb;
					color: #3b5bdb;
				}
			}
		}

		/* MOBILE */
		&--mobile {
			&-btn {
				border: none;
				background: none;
				cursor: pointer;
				z-index: 9999;
				display: none;
			}

			&-icon {
				height: 4.8rem;
				width: 4.8rem;
				color: #edf2ff;
			}

			&-icon[name='close-outline'] {
				display: none;
			}

			&-background {
				position: absolute;
				top: 0;
				right: 0;
				height: 8rem;
				width: 8rem;
				background-color: rgba(237, 242, 255, 0.9);
				-webkit-backdrop-filter: blur(5px);
				backdrop-filter: blur(5px);
				border-radius: 50%;
				opacity: 0;
				visibility: hidden;
				transition: transform 0.5s cubic-bezier(1, 0, 0, 1);
			}
		}
	}
}

/* STICKY NAVIGATION */
.sticky .header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 8rem;
	padding-bottom: 0;
	padding-top: 0;
	background-color: rgba(18, 25, 50, 0.97);
	z-index: 9998;
	box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
	margin-top: 8rem;
}
