.section-hero {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(../../../img/hero.jpg);
	background-size: cover;
	background-position: center;
	padding: 4rem 0 9.6rem;
	width: 100%;
	height: 95vh;
	display: flex;
	justify-content: center;
	clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

	@media only screen and (max-width: 28.125em) {
		clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
	}
}

.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;

	color: #fff;
	text-align: center;
	padding: 0 3.2rem;

	&__text {
		font-size: 3.6rem;
		line-height: 1.5;
		margin-bottom: 3.2rem;
		font-family: 'Shadows Into Light', cursive;

		&--subheading {
			font-size: 5.2rem;
			font-family: 'Shadows Into Light', cursive;
			margin-bottom: 1.6rem;
		}

		&-box h1 {
			color: #fff;
		}
	}

	&__link {
		text-decoration: none;
		color: #000;

		&:not(:last-child) {
			margin-right: 1rem;
		}

		&-box {
			margin-bottom: 3.2rem;
		}
	}

	&__icon {
		&--facebook,
		&--instagram,
		&--mail,
		&--github {
			width: 4rem;
			height: 4rem;
			padding: 0.8rem;
			color: #000;
			background-color: #fff;
			border-radius: 50%;
			transition: all 0.3s;
		}

		&--facebook:hover {
			color: #fff;
			background-color: #3b5999;
		}

		&--instagram:hover {
			color: #fff;
			background-color: #dc3545;
		}

		&--mail:hover {
			color: #fff;
			background-color: #ea4335;
		}

		&--github:hover {
			color: #fff;
			background-color: #6e5494;
		}
	}
}
