/*********************************/
/* ABOUT SECTION */
/*********************************/
.section-about {
	padding: 9.6rem 0;
}

.about {
	&__img-box {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;

		& img {
			width: 80%;
			border-radius: 9px;
		}

		& picture {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&::after,
		&::before {
			content: '';
			display: block;
			top: 50%;
			left: 50%;
			position: absolute;
			transform: translate(-50%, -50%);
			border-radius: 50%;
			z-index: -2;
		}

		&::before {
			width: 107%;
			padding-bottom: 107%;
			background-color: #edf2ff;
		}

		&::after {
			width: 92%;
			padding-bottom: 92%;
			background-color: #ced8fe;
		}
	}

	&__text {
		display: grid;

		grid-template-columns: 5rem 1fr;
		align-items: center;
		column-gap: 2.4rem;
	}

	&__text-box {
		font-size: 2rem;

		display: flex;
		flex-direction: column;
		align-self: center;

		& p {
			margin-bottom: 3.2rem;
			line-height: 1.5;
		}
	}

	&__icon {
		width: 5.2rem;
		height: 5.2rem;
		color: #3b5bdb;
		background-color: #edf2ff;
		padding: 1.2rem;
		border-radius: 50%;
	}
}
