/*
--- 01 TYPOGRAPHY SYSTEM
    -font weight: 
    Default: 400
	medium: 500
	semi-bold: 600
	bold: 700
    -line height:
    Default: 1
	small: 1.05
	medium: 1.2
	paragraph default: 1.6
	-letter spacing:
	-0.5
	0.75
    -FONT SIZE SYSTEM (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
--- 02 COLOR
    -Primary: #5c7cfa
    -Tints: 
    #edf2ff
    #ced8fe
    #6c89fb
    -Shades: 
    #4a63c8
    #3B5BDB
    #374a96
    #1c254b
    #121932
    -Accents:
    #333 
    #555
    #aaa
--- 03 SHADOWS
--- 04 BORDER-RADIUS
	-default: 9px
    -medium: 11px
--- 05 WHITESPACE
    -SPACING SYSTEM (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Shadows+Into+Light&display=swap');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
	overflow-x: hidden;
}

@media only screen and (max-width: 59em) {
	html {
		font-size: 56.25%;
	}
}

@media only screen and (max-width: 31.25em) {
	html {
		font-size: 50%;
	}
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	line-height: 1;
	overflow-y: hidden;

	overflow-x: hidden;
}

/*********************************/
/* GENERAL CLASS */
/*********************************/
.container {
	max-width: 120rem;
	margin: 0 auto;
	padding: 0 4.8rem;
}

.grid {
	display: grid;
	row-gap: 9.6rem;
	column-gap: 6.4rem;

	&__2-cols {
		grid-template-columns: repeat(2, 1fr);
	}

	&__3-cols {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media only screen and (max-width: 53.125em) {
	.grid {
		&__2-cols {
			grid-template-columns: repeat(1, 1fr);
		}

		&__3-cols {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}

.heading {
	&__primary,
	&__secondary,
	&__tertiary {
		font-weight: 700;
		letter-spacing: -0.5px;
		color: #333;
	}

	&__primary {
		font-size: 5.2rem;
		line-height: 1.05;
		margin-bottom: 1.6rem;
	}

	&__secondary {
		font-size: 4.4rem;
		line-height: 1.2;
		margin-bottom: 9.6rem;
	}

	&__tertiary {
		font-size: 3rem;
		line-height: 1.2;
		margin-bottom: 3.2rem;
	}
}

.subheading {
	display: block;
	font-weight: 500;
	font-size: 1.4rem;
	letter-spacing: 1.2px;
	text-transform: uppercase;
	margin-bottom: 1.6rem;
	color: #3b5bdb;
}

.btn {
	/* ONLY FOR BUTTON */
	border: none;
	cursor: pointer;
	font-family: inherit;
	display: inline-block;
	text-decoration: none;
	font-size: 2rem;
	font-weight: 600;
	padding: 1.6rem 3.2rem;
	border-radius: 150px;
	transition: all 0.3s;

	&:link,
	&:visited {
		display: inline-block;
		text-decoration: none;
		font-size: 2rem;
		font-weight: 600;
		padding: 1.6rem 3.2rem;
		border-radius: 150px;

		transition: all 0.3s;
	}

	&--full {
		background-color: #3b5bdb;
		color: #fff;
		&:link,
		&:visited {
			background-color: #3b5bdb;
			color: #fff;
		}

		&:hover,
		&:active {
			background-color: transparent;
			box-shadow: inset 0 0 0 3px #3b5bdb;
		}
	}

	&--outline {
		&:link,
		&:visited {
			background-color: #fff;
			color: #333;
		}

		&:hover,
		&:active {
			background-color: transparent;
			color: #fff;
			box-shadow: inset 0 0 0 3px #fff;
		}
	}

	&--form {
		padding: 1.2rem;
		align-self: start;
		background-color: #1c254b;
		color: #fff;

		&:hover {
			background-color: transparent;
			box-shadow: inset 0 0 0 3px #1c254b;
		}
	}
}

.margin-right-sm {
	margin-right: 1.2rem;
}

.line-break {
	display: flex;
	flex-direction: row;
	margin-bottom: 3.2rem;
	font-size: 1.4rem;

	&:before,
	&:after {
		content: '';
		flex: 1 1;
		border-bottom: 2px solid #fff;
		margin: auto;
	}

	&:before {
		margin-right: 1rem;
	}

	&:after {
		margin-left: 1rem;
	}
}

.tools__icon {
	&--html,
	&--css,
	&--js,
	&--nodejs,
	&--react,
	&--github,
	&--mongodb,
	&--bootstrap,
	&--sass {
		width: 3.2rem;
		height: 3.2rem;
		margin-right: 1.2rem;
	}

	&--html {
		color: #e34f26;
	}

	&--css {
		color: #002561;
	}

	&--js {
		color: #f7df1e;
	}

	&--nodejs {
		color: #6cc24a;
	}

	&--react {
		color: #00d8ff;
	}

	&--github {
		color: #6e5494;
	}

	&--mongodb {
		color: #589636;
	}

	&--bootstrap {
		color: #511378;
	}

	&--sass {
		color: #cc6699;
	}
}

.pills {
	&--fullstack,
	&--RESTfulAPI,
	&--ecommerce,
	&--clone,
	&--carousel,
	&--game,
	&--baseball,
	&--todolist,
	&--location,
	&--weather,
	&--airplane,
	&--user,
	&--youtube {
		padding: 0.3rem 0.6rem;
		border-radius: 150px;
		letter-spacing: 1.5px;
		text-transform: uppercase;
		font-weight: 700;
		margin-right: 0.6rem;
	}

	&--fullstack,
	&--airplane,
	&--youtube {
		border: 3px solid #f03e3e;
		color: #f03e3e;
	}

	&--RESTfulAPI,
	&--user {
		border: 3px solid #d6336c;
		color: #d6336c;
	}

	&--ecommerce {
		border: 3px solid #ae3ec9;
		color: #ae3ec9;
	}

	&--clone {
		border: 3px solid #7048e8;
		color: #7048e8;
	}

	&--carousel {
		border: 3px solid #4263eb;
		color: #4263eb;
	}

	&--game {
		border: 3px solid #1c7ed6;
		color: #1c7ed6;
	}

	&--baseball {
		border: 3px solid #1098ad;
		color: #1098ad;
	}

	&--todolist {
		border: 3px solid #0ca678;
		color: #0ca678;
	}

	&--location {
		border: 3px solid #37b24d;
		color: #37b24d;
	}

	&--weather {
		border: 3px solid #74b816;
		color: #74b816;
	}
}

@media only screen and (max-width: 31.25em) {
	.pills {
		&--fullstack,
		&--RESTfulAPI,
		&--ecommerce,
		&--clone,
		&--carousel,
		&--game,
		&--baseball,
		&--todolist,
		&--location,
		&--weather,
		&--airplane,
		&--user {
			display: inline-block;
			margin-bottom: 1rem;
		}
	}
}

.ModalOpen {
	animation: openModal 0.4s ease-in-out forwards;
}

.ModalClose {
	animation: closeModal 0.4s ease-in-out forwards;
}

@keyframes openModal {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes closeModal {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}
