.section-professional {
	padding: 24rem 0 9.6rem;
	background-color: #edf2ff;

	min-height: 120vh;

	clip-path: polygon(0 25vh, 100% 0, 100% 100%, 0 100%);
	-webkit-clip-path: polygon(0 25vh, 100% 0, 100% 100%, 0 100%);
	background-image: linear-gradient(
			to right,
			rgb(18, 25, 50, 0.8),
			rgb(55, 74, 150, 0.8)
		),
		url(../../../img/professional-bg.png);
	background-size: cover;
	background-position: center;

	@media only screen and (max-width: 28.125em) {
		clip-path: polygon(0 20vh, 100% 0, 100% 100%, 0 100%);
		-webkit-clip-path: polygon(0 20vh, 100% 0, 100% 100%, 0 100%);
	}

	& span {
		color: #ced8fe;
	}

	& h2 {
		color: #fff;
	}
}

.dark.section-professional {
	background-color: #0b1028;
}

.dark h2 {
	color: #fff;
}

.professional {
	&__link {
		&-box {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&:link,
		&:visited {
			margin-top: 4.8rem;
			font-size: 1.6rem;
			color: #edf2ff;
			display: inline-block;
			text-decoration: none;
			border-bottom: 1px solid #edf2ff;
			padding: 1rem;
			letter-spacing: 1.2px;
			transition: all 0.2s;
		}

		&:hover {
			background-color: #fff;
			color: #3b5bdb;
			box-shadow: 0 1rem 2rem rgba(#000, $alpha: 0.15);
			transform: translateY(-2px);
			border-color: #fff;
		}

		&:active {
			box-shadow: 0 0.5rem 1rem rgba(#000, $alpha: 0.15);
			transform: translateY(0);
		}
	}
}
